# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.



### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [1]:
#Assignment 1: Creating and Accessing Lists
#Create a list of the first 20 positive integers. Print the list.

listt=[]
for i in range(1,21):
  listt.append(i)
print(listt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
#Accessing List Elements
#Print the first, middle, and last elements of the list created in Assignment 1.

a=len(listt)//2
print(listt[0])
print(listt[-1])
print(listt[a])

1
20
11

In [4]:
#Assignment 3: List Slicing
#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

print(listt[0:5])
print(listt[-5:])
print(listt[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [5]:
#Assignment 4: List Comprehensions
#Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

listt=[i*i for i in range(1,11) ]
print(listt)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#Assignment 5: Filtering Lists
#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

listt=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

new_list=[i for i in listt if i%2==0]

print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Assignment 6: List Methods
#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

lis=[2,3,4,2,6,75,4,87]
lis.sort()
print(lis)
lis.sort(reverse=True)
print(lis)
no_duplicates=list(set(lis))
print(no_duplicates)

[2, 2, 3, 4, 4, 6, 75, 87]
[87, 75, 6, 4, 4, 3, 2, 2]
[2, 3, 4, 6, 75, 87]

In [ ]:
#Assignment 7: Nested Lists
#Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

listt=[[1,2,3],[4,5,6],[7,8,9]]
print(listt)

for i in listt:
  print(i)

ele=listt[1][2]
print(ele)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

In [ ]:
#Assignment 8: List of Dictionaries
#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

listt=[{"name":"aa","score":10},
 {"name":"bb","score":20},
  {"name":"cc","score":30},
   {"name":"ee","score":40},
    {"name":"ff","score":50}]

sortedL=sorted(listt,key=lambda x: x['score'],reverse=True)
print(sortedL)

[{'name': 'ff', 'score': 50}, {'name': 'ee', 'score': 40}, {'name': 'cc', 'score': 30}, {'name': 'bb', 'score': 20}, {'name': 'aa', 'score': 10}]

In [11]:
#Assignment 9: Matrix Transpositiona
#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

def transposee(listt):
  transposed=[]
  for i in range(3):
    row=[]
    for j in range(3):
      row.append(listt[j][i])
    transposed.append(row)
  return transposed

a=([[1,2,3],[4,5,6],[7,8,9]])
print("original",a)
print("transposedd",transposee(a))

original [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposedd [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [12]:
#Assignment 10: Flattening a Nested List
#Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def nested(listt):
  flatten=[]
  for item in listt:
    for i in item:
      flatten.append(i)
  return flatten
a=[[1,2,4],[4,5,6],[3,4]]
print(a)
print(nested(a))

[[1, 2, 4], [4, 5, 6], [3, 4]]
[1, 2, 4, 4, 5, 6, 3, 4]

In [18]:
#Assignment 11: List Manipulation
#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

listt=[1,2,3,4,5,6,7,8,9,10]

listt.pop(2)
listt.pop(4)
listt.pop(6)
listt.insert(5,99)
print(listt)

[1, 2, 4, 5, 7, 99, 8, 10]

In [19]:
#Assignment 12: List Zipping
#Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

listt1=[1,2,3,4,5]
listt2=[6,7,8,9,4]

tupp=list(zip(listt1,listt2))

print(tupp)

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 4)]

In [21]:
#Assignment 13: List Reversal
#Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

def reversed(listt):
  return listt[::-1]

print(reversed([1,2,3,4,5,6]))

[6, 5, 4, 3, 2, 1]

In [22]:
"""Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists."""

def rotate(listt,n):
  for i in range(n):
    last=listt.pop()
    listt.insert(0,last)
  return listt

print(rotate([1,2,3,4,5],3))

[3, 4, 5, 1, 2]

In [24]:
#Assignment 15: List Intersection
#Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

def inter(listt1,listt2):
  return list(set(listt1).intersection(set(listt2)))

print(inter([1,2,3,45,6],[1,34,2,3,4]))

[1, 2, 3]