# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
#Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.

tuplee=(1,2,3,4,5,6,7,8,9,10)
print(tuplee)

#my name is vinayak

In [ ]:
#Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1.

tuplee=(1,2,3,4,5,6,7,8,9,10)
a=len(tuplee)//2

print(tuplee[0])
print(tuplee[-1])
print(tuplee[a])

In [ ]:
#Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

tuplee=(1,2,3,4,5,6,7,8,9,10)

print(tuplee[:3])
print(tuplee[-3:])
print(tuplee[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [2]:
#Assignment 4: Nested Tuples
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

nested=((1,2,3),(4,5,6),(7,8,9))

for x in nested:
  print(x)

abc=nested[1][2]

print(abc)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [3]:
#Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tup1=(1,2,3)
tup2=(4,5,6)

res=tup1+tup2

print(res)

(1, 2, 3, 4, 5, 6)

In [4]:
#Assignment 6: Tuple Methods
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tup=(1,2,2,3,4,4,5,6,6,6)

count=tup.count(6)
index=tup.index(1)

print(count)
print(index)

3
0

In [5]:
#Assignment 7: Unpacking Tuples
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tup=(1,2,3,4,5)

a,b,c,d,e=tup

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [6]:
#Assignment 8: Tuple Conversion
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

listt=[1,2,3,4,5]
tup=tuple(listt)
print(tup)

(1, 2, 3, 4, 5)

In [7]:
#Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tup=((1,2,3),(4,5,5),(4,5,6))

for t in tup:
  print(t)

(1, 2, 3)
(4, 5, 5)
(4, 5, 6)

In [8]:
#Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tup=(1,2,3,4,5)
listt=list(tup)
listt.append(6)
tup2=tuple(listt)
print(tup2)

(1, 2, 3, 4, 5, 6)

In [10]:
#Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

tup=("v","i","n","a","y","a","k")
strr=""
for i in tup:
  strr=strr+i
print(strr)

vinayak

In [12]:
#Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.

dictt={(1,2):1,(3,4):2,(5,6):3}

for key,value in dictt.items():
  print(key,value)

(1, 2) 1
(3, 4) 2
(5, 6) 3

In [13]:
#Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.

nested=((1,2),(3,4,3),(4,5,6,7,8,7))

for item in nested:
  for i in item:
    print(i)

1
2
3
4
3
4
5
6
7
8
7

In [14]:
#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tup=(1,2,2,3,4,5,5,6,6,7)

sett=set(tup)

print(sett)

{1, 2, 3, 4, 5, 6, 7}

In [19]:
#Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_max_sum(tup):
  minn=tup[0]
  maxx=tup[0]
  summ=0

  for i in tup:
    if(i<minn):
      minn=i
    if(i>maxx):
      maxx=i
    summ=summ+i

  return minn,maxx,summ

a=min_max_sum((1,2,3,4,5,6))
print("minn",a[0])
print("maxx",a[1])
print("sum",a[2])

minn 1
maxx 6
sum 21